#Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.

# Nodejs
node_modules

# npm
#package-lock.json

# environment variables
.env

## dist
dist
