

<section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-chart"></i>
                    <span class="text">Estadisticas</span>
                </div>
                {{#each control}}
                    <div class="boxes">
                    <div class="box ">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="text">Viajes Totales a Tomar</span>
                        <span class="number">{{total_trips}}</span>
                    </div>
                    <div class="box ">
                        <i class="uil uil-comments"></i>
                        <span class="text">Viajes Tomados</span>
                        <span class="number">{{taken_trips}}</span>
                    </div>
                    <div class="box ">
                        <i class="uil uil-share"></i>
                        <span class="text">Viajes No Tomados</span>
                        <span class="number">{{untaken_trips}}</span>
                    </div>
                </div>
                {{/each}}
                
            </div>
            
        </div>
    </section>