<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra estadisticas del usuario––>

<main class="ajuste">
    <div class="jumbotron mt-4">
        
        <a href="/dashboard/firstSteps"><button type="button" class="btn btn-info">Primeros pasos</button></a>

        <p>{{user_global}}</p>
        

    </div>
</main>