<div class="jumbotron mt-4">
    <h1 class="display-4">Ingresa y llega a donde quieras</h1>
    <p class="lead">Llevando a todos los universitarios del pais de forma segura</p>
    <hr class="my-4">
    <a href="/user/login">Ingresa Aquí</a>
</div>