<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<main class="ajuste">
    <div class="jumbotron mt-4">
        <! ––Informacion del index––>
    <div class="card-body">
    <h1 class="display-4">¡A viajar seguro!</h1>
    <p class="lead">Preocupados por nuestros pasajeros y colaboradores en brindarles la confianza y garantizarles que estamos cumpliendo con los más altos estándares de calidad en seguridad vial y sanitaria.</p>
    </div>

    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2 >¡Vive la emoción de viajar!</h2>
    <p class="lead">¿Por qué escogernos?</p>
    </div>
    

    <div class="card-body">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>20 Años</h4></div>
    <div class="card-body">
        <h5 class="card-title">de experiencia</h5>
    </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>+2 Millones</h4></div>
    <div class="card-body">
        <h5 class="card-title">de clientes</h5>
    </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>Flota</h4></div>
    <div class="card-body">
        <h5 class="card-title">libre de virus</h5>
    </div>
    </div>
    
    </div>

</div>
</main>
