
body {
    background-image: url('https://wallpaperaccess.com/full/18520.jpg');
}


.ajuste {
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.ajuste70 {
    width: 70%;
    margin: auto;
    padding-top: 10px;
}




