<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-5 bg-black text-white rounded">
      <div class="card-header text-center pt-5">
        <h1 class="h4 text-white">
          Inicio de Sesión
        </h1>
      </div>
      <img
        class="rounded-circle mx-auto d-block logo m-4"
        src="https://i.pinimg.com/originals/0a/39/ff/0a39ff7975a3acec4f99dae45fdda19b.png"
        alt="Logo"
      />
      <div class="card-body">
        <form action="/user/login" method="POST">
          <div class="mb-3">
            <label for="user">Codigo de Alumno:</label>
            <input
              type="text"
              class="form-control bg-dark text-white"
              name="user"
              placeholder="Codigo de Alumno"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="passsword">Contraseña:</label>
            <input
              type="password"
              class="form-control bg-dark text-white"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            Iniciar Sesión
          </button>
        </form>
      </div>

      <p class="text-center">¿No tienes una cuenta? Sigue los <a href="/steps" class="text-info">pasos</a> o <a href="/contact" class="text-info">contactanos</a> para empezar a viajar </p>
    </div>
  </div>
</div>

