<div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Transporte Busspress</h1>
        <h4>Compromiso con nuestros clientes</h4>
        <p class="lead">Nos dedicamos a el servicio de Transporte de Personal. En el 2002 se constituye EMPRESA DE TRANSPORTE BUSSPRESS dedicada al servicio de transporte de personal, organización en verdadero proceso de crecimiento y expansión. Desde aquel entonces apuntamos a ser una de las mejores empresas de transporte de personal en el Perú.</p>
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>Nuestra misión</h2>
    <p class="lead">Desarrollarse y consolidarse como empresa líder en el transporte de Personal, trabajando en busca de la excelencia en servicio y calidad y así superar las expectativas en la solución de sus necesidades de nuestros clientes</p>
    </div>

    <div class="card-body">
    <h2>Nuestra visión</h2>
    <p class="lead">Ser una empresa líder en los servicios que ofrecemos mantenimiento un nivel de exigencia y competencia en el mercado.  En este mundo globalizado las vías para llegar al mercado son muchos, pero el medio es uno solo: TRANSPORTE BUSSPRESS siempre a su servicio</p>
    </div>

    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>Nuestros valores</h2>
    <h4>Lo que nos diferencia de los demás</h4>
    </div>

    <div class="card-body">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>Profesionales</h4></div>
        <div class="card-body">
            <h5 class="card-title">Hemos desarrollado un servicio que le ofrece resolver sus necesidades, otorgandole un alto grado de valor de calidad y puntualidad en nuestros traslados de personal</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>Moderna flota</h4></div>
        <div class="card-body">
            <h5 class="card-title">Disponemos de una flota que se ha mantenido en permanente renovación y crecimiento para poder adecuarnos así a la exigencia del mercado actual</h5>
        </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4>Empatía por el medio ambiente</h4></div>
        <div class="card-body">
            <h5 class="card-title">Realizamos constantemente el mantenimiento correctivo y preventivo de nuestras unidades para no dañar el medio ambiente</h5>
        </div>
        </div>
    
    </div>

    


</div>