<section class="card">
    <div class="card-body">
        <h1>Contactanos</h1>
        <p>Somos una empresa que lleva universitarios por todo el pais a su campus de forma segura y divertida</p>
    </div>



    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Contactanos al wasa</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


</section>