<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra informacion de tarifas––>
<main class="ajuste">
    <div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Tarifas</h1>
        <p class="lead">Elige la mejor opción para ti</p>
    </div>


    

    <div class="card-body">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>1 mes</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 70</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>1 ciclo</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 300</h5>
        </div>
        </div>

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>2 Ciclos</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 250</h5>
        </div>
        </div>
    
    </div>

    


</div>
</main>

