<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra informacion de tarifas––>
<main class="ajuste">
    <div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Tarifas</h1>
        <p class="lead">Elige la mejor opción para ti</p>
        <p>El total de la tarifa es la suma de el monto de matrícula para las instituciones, el costo por uso del vehículo y el costo por las semanas del servicio total</p>
    </div>



    
 
    <div class="card-body">

        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>Monto de matrícula para instituciones</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 1000</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>Costo por uso del vehículo</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 100</h5>
        </div>
        </div>

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h4><i class="fa-solid fa-money-bill fa-bounce p-1" style="color: #ffffff;"></i>Costo por una semana del servicio</h4></div>
        <div class="card-body">
            <h5 class="card-title">S/ 10</h5>
        </div>
        </div>
        
    
    </div>

    


</div>
</main>
