<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra pasos para obtener una cueta––>
<main class="ajuste">
    <div class="jumbotron mt-4">

    <div class="card-body">
        <h1 class="display-4">Pasos para empezar a viajar</h1>
        
    </div>


    <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="card-body">
    <h2>1. Elige una de las tarifas con las que contamos</h2>
    <p class="lead">Ve las tarifas en <a href="/rates">Aquí</a></p>
    </div>

    <div class="card-body">
    <h2>2. Realiza el pago correspondiente al plan que le interesa</h2>
    </div>
    
    <div class="card-body">
    <h2>3. Realiza el pago correspondiente al plan que le interesa</h2>
    </div>
    
    <div class="card-body">
    <h2>4. Te enviaremos una boleta electronica a tu correo institucional con el usuario y contraseña para que puedas ingresar</h2>
    </div>

    <div class="card-body">
    <h2>5. Ingresa a la página y podrás ver tus rutas asignadas</h2>
    </div>

    <div class="card-body">
    <h2>¡A disfrutar de Busspress! </h2>
    </div>

</div>
</main>